.main-content-container {
    padding: 5px;
}

#main-title-div {
    text-align: center;
    margin-top: 5px;
    width: 100%;
}

.main-title-container {
    display: inline-block;
}

.main-title {
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

.main-title-logo-span {
    word-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
}

.logo {
    display: inline-block;
    float: left;
    width: 0.9em;
    height: 0.9em;
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.subtitle-div-container {
    text-align: center;
}

.subtitle-div {
    display: inline-block;
}

.subtitle-div-section {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

.external-link {
    cursor: pointer;
    color: unset;
}

.subtitle-item {
    padding-left: 8px;
    padding-right: 8px;
}

.source-code-link {
    vertical-align: text-bottom;
}

.version-number {
    vertical-align: bottom;
}

.dark-mode-toggle {
    padding-top: 8px;
}

input {
    background-color: transparent;
}

#custom-problem-error-text {
    margin-top: 4px;
}

.mat-expansion-panel {
    margin: 0 !important;
}

.expanded-panel {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.problem-count-summary {
    margin-left: 8px;
}

.problem-file-version {
    margin-left: 2px;
    opacity: 0.5;
}

.section-title {
    font-weight: bolder;
}

.problem-link {
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
}

.problem-link:hover {
    background-color: rgba(0.7, 0.7, 0.7, 0.1);
}

.page-footer {
    display: flex;
    justify-content: center;
}
