<div [ngClass]="{'dark-theme': isDarkTheme}" class="main-content-container">
    <mat-card>
        <div id="main-title-div">
            <div class="main-title-container">
                <h1 class="main-title">
                    <span class="main-title-logo-span">
                        <img class="logo" src="{{LOGO_URL}}">
                        Dynamic&nbsp;
                    </span>
                    <span class="main-title-logo-span">
                        Programming Visualization
                    </span>
                </h1>
                <!--<small>In browser code editor and visualization tool for dynamic programming algorithms</small>-->
            </div>
        </div>
        <div class="subtitle-div-container">
            <div class="subtitle-div">
                <div class="subtitle-div-section">
                    <span class="version-number subtitle-item">v{{version}}</span>
                    <mat-slide-toggle
                        [(ngModel)]="isDarkTheme"
                        (change)="onDarkModeChange()"
                        class="dark-mode-toggle subtitle-item">
                        Dark Mode
                    </mat-slide-toggle>
                </div>
                <div class="subtitle-div-section">
                    <a class="external-link source-code-link subtitle-item"
                       href="https://github.com/debkbanerji/dynamic-programming-visualization" target="_blank">
                        <span class="glyphicon glyphicon-link"></span> Source Code
                    </a>
                    <a class="external-link source-code-link subtitle-item"
                       href="https://github.com/debkbanerji/dynamic-programming-visualization/issues" target="_blank">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Report an Issue
                    </a>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <p class="problem-count-summary">
            <span>
                {{totalProblems}} total problems across {{sections.length}} sections
            </span>
            <br *ngIf="problemFileVersion">
            <small class="problem-file-version" *ngIf="problemFileVersion">
                Problem file version: {{problemFileVersion}}
            </small>
        </p>
        <mat-card *ngFor="let section of sections">
            <h4 class="section-title" [innerHTML]="section.name"></h4>
            <div class="row">
                <div *ngFor="let problem of section.problems" class="col-xs-12 col-sm-6 col-md-4">
                    <mat-card class="problem-link"
                              (click)="openProblem(problem.id)">
                        <div [innerHTML]="problem.name">
                        </div>
                        <div *ngIf="progressService.getHasLocalStorage()" class="progress-container">
                            <div *ngIf="progressData[problem.id]">
                                <div *ngIf="!progressData[problem.id]['hasRevealedSolution']">
                                    <div *ngFor="let item of progressData[problem.id]['progressArray']">
                                        <small
                                            [ngClass]="{
                                            'text-green' : item.completed,
                                            'text-yellow' : !item.completed
                                        }">
                                            <span class="glyphicon" [ngClass]="{
                                            'glyphicon-ok' : item.completed,
                                            'glyphicon-option-horizontal' : !item.completed
                                        }"></span>
                                            <span>&nbsp;&nbsp;{{item.type}}</span>
                                        </small>
                                    </div>
                                </div>
                                <div *ngIf="progressData[problem.id]['hasRevealedSolution']">
                                    <small class="text-yellow">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        &nbsp;&nbsp;Solution Revealed
                                    </small>
                                </div>
                            </div>
                            <div *ngIf="!progressData[problem.id]">
                                <small class="text-yellow">Not yet attempted</small>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <h4 class="section-title">Custom Problem</h4>
            <p>Here you can solve a problem from a file on your computer</p>
            <p>Be careful when choosing a file, as depending on where it came from, it may contain
                mistakes or try to do sketchy things</p>
            <input id="custom-problem-file-select" [(ngModel)]="customProblemFile" type="file"
                   (change)="solveCustomProblem()">
            <span id="custom-problem-error-text">{{customProblemErrorText}}</span>
        </mat-card>
    </mat-card>
    <div class="page-footer">
        <small>
            Created by <a href="https://debkbanerji.com" target="_blank" class="external-link">Deb Banerji</a>
            &#8901;
            Made with &#10084;
        </small>
    </div>
</div>
