<div [ngClass]="{'dark-theme': isDarkTheme}" class="main-content-container">
    <mat-card>
        <div id="main-title-div">
            <div class="main-title-container">
                <h1 class="main-title">
                    <span class="main-title-logo-span">
                        <img class="logo" src="{{LOGO_URL}}">
                        Dynamic
                    </span>
                    Programming Visualization
                </h1>
                <!--<small>In browser code editor and visualization tool for dynamic programming algorithms</small>-->
            </div>
        </div>
        <div class="subtitle-div">
            <span class="version-number subtitle-item">v{{version}}</span>
            <mat-slide-toggle
                [(ngModel)]="isDarkTheme"
                (change)="onDarkModeChange()"
                class="dark-mode-toggle subtitle-item">
                Dark Mode
            </mat-slide-toggle>
            <a class="external-link source-code-link subtitle-item"
               href="https://github.com/debkbanerji/dynamic-programming-visualization" target="_blank">
                <span class="glyphicon glyphicon-link"></span> Source Code
            </a>
        </div>
    </mat-card>
    <mat-card>
        <p class="problem-count-summary">{{totalProblems}} total problems across {{sections.length}} sections</p>
        <mat-accordion>
            <mat-expansion-panel (opened)="customPanelOpenState = true"
                                 (closed)="customPanelOpenState = false"
                                 [ngClass]="{
                                                'expanded-panel':customPanelOpenState
                                            }">
                <mat-expansion-panel-header>
                    <h4 class="section-title">Custom Problem</h4>
                </mat-expansion-panel-header>
                <p>Here you can solve a problem from a file on your computer</p>
                <p class="text-red">Be careful when choosing a file, as depending on where it came from, it may contain
                    mistakes or try to do sketchy things</p>
                <input id="custom-problem-file-select" [(ngModel)]="customProblemFile" type="file"
                       (change)="solveCustomProblem()">
                <span id="custom-problem-error-text">{{customProblemErrorText}}</span>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let section of sections"
                                 (opened)="section.panelOpenState = true"
                                 (closed)="section.panelOpenState = false"
                                 [ngClass]="{
                                                'expanded-panel':section.panelOpenState
                                            }">
                <mat-expansion-panel-header>
                    <h4 class="section-title" [innerHTML]="section.name"></h4>
                </mat-expansion-panel-header>
                <div class="row">
                    <div *ngFor="let problem of section.problems" class="col-xs-12 col-sm-6 col-md-4">
                        <mat-card class="problem-link"
                                  (click)="openProblem(problem.id)">
                        <span>
                            <span [innerHTML]="problem.name">
                            </span>
                        </span>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
    <div class="page-footer">
        <small>
            Made with &#10084; by <a href="mailto:debkbanerji@gmail.com" class="external-link">Deb</a>
        </small>
    </div>
</div>
