.main-content-container {
    padding: 5px;
}

#main-title-div {
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}

#main-title {
    font-weight: bold;
}

.dark-mode-toggle {
    display: inline-block;
    float: right;
}

#custom-problem-error-text {
    margin-top: 4px;
}

.section-title {
    font-weight: bolder;
}

.problem-link {
    cursor: pointer;
    font-weight: 600;
}

.problem-link:hover {
    background-color: rgba(0.7, 0.7, 0.7, 0.1);
}
