#main-title-div {
    text-align: center;
    font-weight: normal;
}

#main-title {
    font-weight: bold;
}

#custom-problem-file-select {
    padding-top: 10px;
}

#custom-problem-error-text {
    padding-top: 10px;
}

.section-title {
    font-weight: bolder;
}

.problem-link {
    cursor: pointer;
    /*font-size: large;*/
    font-weight: 600;
}

.problem-link:hover {
    background-color: #EEEEEE;
}
