.main-container {
    width: 75vw;
    height: 95vh;
    padding: 5px;
    overflow: hidden;
}

.no-padding {
    padding: 0;
}

mat-card {
    padding: 5px;
}

.main-header {
    font-weight: bold;
    font-size: x-large;
}
