<div class="main-container" [ngClass]="{'dark-theme': data.isDarkTheme}">
    <div class="header-container">
        <mat-card>
            <mat-card-content>
                <p>
                    <span class="main-header">{{title}}</span>
                    <span class="result-header">Result: {{result}}</span>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="table-container">
        <mat-card class="table-card">
            <mat-card-content>
                <table class="dp-table" *ngIf="!isMainTable2d">
                    <tr class="dp-tr">
                        <td class="dp-td"
                            *ngFor="let i of range(0, mainTableDimension1);">
                            <span class="dp-table-cell"
                                  [ngClass]="{
                                                'get-entry': lastAffectedIndex1 === i && lastOperation === 'get',
                                                'set-entry': lastAffectedIndex1 === i && lastOperation === 'set'
                                             }"
                                  [innerHTML]="getTableDisplayedValue(currentMainTable, i, -1)">
                            </span>
                        </td>
                    </tr>
                </table>
                <table class="dp-table" *ngIf="isMainTable2d">
                    <tr class="dp-tr" *ngFor="let i of range(0, mainTableDimension1);">
                        <td class="dp-td"
                            *ngFor="let j of range(0, mainTableDimension2);">
                                <span class="dp-table-cell"
                                      [ngClass]="{
                                                'get-entry': lastAffectedIndex1 === i && lastAffectedIndex2 === j && lastOperation === 'get',
                                                'set-entry': lastAffectedIndex1 === i && lastAffectedIndex2 === j && lastOperation === 'set'
                                             }"
                                      [innerHTML]="getTableDisplayedValue(currentMainTable, i, j)">
                                </span>
                        </td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bottom-container">
        <mat-card class="controls-card">
            <mat-card-content>
                <div class="frames-progress-bar">
                    <mat-progress-bar
                        mode="determinate"
                        [value]="100* currentFrame / totalFrames">
                    </mat-progress-bar>
                </div>
                <div class="controls-container">
                    <div class="controls-left-container">
                        <div class="operation-count-container">
                            <span>{{log.length}} total operations</span>
                            <br>
                            <span class="get-entry operation-count">{{totalGets}} reads</span>
                            <br>
                            <span class="set-entry operation-count">{{totalSets}} writes</span>
                        </div>
                    </div>
                    <div class="controls-center-container">
                        <button mat-icon-button
                                [disabled]="!canStepBackward() || isCurrentlyPlayingAnimation || currentlySwitchingPlayState"
                                disabled
                                (click)="stepBackward()"
                                class="control-button">
                            <span class="glyphicon glyphicon-step-backward control-glyphicon"></span>
                        </button>
                        <button mat-fab
                                [disabled]="currentlySwitchingPlayState"
                                *ngIf="!isCurrentlyPlayingAnimation"
                                (click)="playAnimation()"
                                class="control-button">
                            <span class="glyphicon glyphicon-play control-glyphicon"></span>
                        </button>
                        <button mat-fab
                                [disabled]="currentlySwitchingPlayState"
                                *ngIf="isCurrentlyPlayingAnimation"
                                (click)="stopPlayingAnimation()"
                                class="control-button">
                            <span class="glyphicon glyphicon-pause control-glyphicon"></span>
                        </button>
                        <button mat-icon-button
                                [disabled]="!canStepForward() || isCurrentlyPlayingAnimation || currentlySwitchingPlayState"
                                (click)="stepForward()"
                                class="control-button">
                            <span class="glyphicon glyphicon-step-forward control-glyphicon"></span>
                        </button>
                    </div>
                    <div class="controls-right-container">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
