.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.loading-spinner-container {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.page-loading-spinner {
    text-align: center;
    margin: 25vh auto auto;
}

.main-header-card {
    padding: 5px;
}

.home-button {
    vertical-align: top;
    margin: 0;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
}

.main-header {
    font-weight: bold;
    font-size: x-large;
}

.dark-mode-toggle {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 6px;
}

.section-header {
    font-weight: bold;
    font-size: large;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

#code-card {
    padding: 5px;
}

.code {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, sans-serif;
}

.default-entry-container {
    padding-bottom: 10px;
}

.initialization-textarea-container {
    margin-bottom: 10px;
}

/*.input-field-very-small {*/
/*width: 20px;*/
/*}*/

/*.input-field-small {*/
/*width: 100px;*/
/*}*/

.set-next-value-container {
    width: calc(100% - 45px);
    max-width: calc(100% - 45px);
    min-width: calc(100% - 45px);
    float: right;
}

#return-value-textarea-outer-container {
    width: 100%;
    display: inline-block;
}

.initialization-textarea-container, #return-value-textarea-container, .code-editor {
    width: calc(100% - 8px);
    max-width: calc(100% - 8px);
    min-width: calc(100% - 8px);
    float: right;
    display: inline-block;
}

#set-next-entry-textarea-container {
    width: 90%;
    max-width: 90%;
    min-width: 90%;
}

.full-width {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/*DP Table*/

.dp-table {
    width: 90%;
}

.dp-tr {
    height: 5vw;
}

.dp-td {
    width: 5vw;
    height: 5vw;
    padding: 0;
    border: 1px solid #AAAAAA;
    text-align: center;
}

.dp-td:after {
}

.dp-table-data {
    position: absolute;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    height: 100%;
}

.slightly-bold-label {
    font-weight: 600;
}

.view-animation-button {
    float: right;
}

.transpose-button {
    margin: 5px;
}

.transpose-text {
    cursor: pointer;
    text-underline: none;
}

.run-tests-button {
    font-size: large;
    padding-bottom: 4px;
}

#reveal-solution-button {
    margin-left: 10px;
}

.correct-result-but-different-table-text {

}

.test-result-label {
    display: inline;
    vertical-align: middle;
}

.glyphicon-time {
    padding-right: 4px;
}
