@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-red, A400);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.dark-theme {
    color: $light-primary-text;
    $dark-primary: mat-palette($mat-pink);
    $dark-accent: mat-palette($mat-pink, A200, A100, A400);
    $dark-warn: mat-palette($mat-red);

    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

    @include angular-material-theme($dark-theme);

    background-color: #303030 !important;
}

.main-content-container {
    min-width: 100vw;
    min-height: 100vh;
}

input {
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(0, 0, 0, 0.5);
}

mat-dialog-container {
    padding: 0 !important;
}

app-animation-dialog {
    overflow: hidden;
    width: 95vw;
}

.text-grey {
    color: #757575;
}

.text-red {
    color: #DC3545;
}

.text-orange {
    color: #EF6C00;
}

.text-yellow {
    color: #F9A825;
}

.text-green {
    color: #28A745;
}
