.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

/*DP Table*/

.dp-table {
    width: 90%;
}

.dp-tr {
    height: 5vw;
}

.dp-td {
    width: 5vw;
    height: 5vw;
    padding: 0;
    border: 1px solid #AAAAAA;
    text-align: center;
}

.dp-td:after {
}

.dp-table-data {
    position: absolute;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    height: 100%;
}

.slightly-bold-label {
    font-weight: 600;
}

.transpose-button {
    margin: 5px;
}
